{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
    "sourceType": "module"
  },
  "globals": {
    "G": true
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "warn"
    ]
  }
}
