@font-face {
  font-family: 'tumblr-icons';
  src: url('tumblr-icons.woff2') format('woff2');
}

:root {
  --reblog-duration: 1s;
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body {
  background-color: #eee;
  color: #333;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 16px;
}

.login {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login__box {
  background-color: #fff;
  border-radius: 4px;
  padding: 32px;
}

.login__link {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #999;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition:
    color 125ms ease-out,
    background-color 125ms ease-out;
}

.login__link:hover {
  color: #fff;
  background-color: #ccc;
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 0 4px 0 rgba(0, 0, 0, 0.25),
    0 4px 16px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  font-size: 14px;
  font-weight: 200;
  flex-direction: column;
  overflow: hidden;
}

.card--placeholder {
  height: 350px;
}

.card--placeholder::after {
  animation: loading-gradient 2s ease infinite;
  background: linear-gradient(90deg, #f5f5f5, #f9f9f9 5%, #f5f5f5 10%);
  background-size: 200% 100%;
  clip-path: url(#loading-path);
  content: "";
  width: 100%;
  height: 100%;
}

@keyframes loading-gradient {
  0% { background-position: 20% 50%; }
  100% { background-position: -100% 50%; }
}

.blog-info {
  display: flex;
  align-items: center;
  margin: 16px;
}

.blog-info__avatar {
  margin-right: 8px;
}

.blog-info__name:link,
.blog-info__name:visited {
  color: #999;
  flex: 1;
  text-decoration: none;
}

.summary {
  margin: 0 16px;
}

.card__body {
  flex: 1;
}

.photo-container {
  position: relative;
}

.photo-container__hide-button {
  border: none;
  background:
    repeating-linear-gradient(
      45deg,
      #fff,
      #fff 17px,
      #666 17px,
      #666 34px
    );
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 24px;
  height: 24px;
  transform: translate(24px, -24px);
  transition: transform 125ms var(--ease-out-quad);
}

.photo-container__hide-button::after {
  color: #fff;
  content: "-";
  position: absolute;
  top: 0;
  right: 4px;
}

.photo-container.is-blurred .photo-container__hide-button::after {
  content: "+";
}

.photo-container__hide-button:focus {
  outline: none;
}

.photo-container:hover .photo-container__hide-button {
  transform: translate(0, 0);
}

.photo-container__blurred-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.text {
  padding: 0 16px;
}

.text blockquote {
  margin: 0;
}

.text blockquote blockquote {
  border-left: 2px solid #ccc;
  padding-left: 8px;
}

.tmblr-full {
  width: 250px;
  margin: 0 -16px;
}

.tmblr-full img {
  max-width: 100%;
}

.img-slider {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
}

.img-slider__images {
  align-items: flex-start;
  display: flex;
  transition: transform 300ms ease-out;
}

.img-slider__nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 0;
}

.img-slider__button {
  border: none;
  color: #ccc;
  cursor: pointer;
  font-size: 10px;
  line-height: 16px;
  padding: 0;
  text-align: center;
  width: 16px;
  height: 16px;
}

.img-slider__button:focus {
  outline: none;
}

.img-slider__button.is-active {
  color: #666;
}

.card__footer {
  color: #999;
  font-size: 12px;
  padding: 16px;
}

.button-toolbar {
  display: flex;
  justify-content: flex-end;
}

.icon-button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  fill: none;
  margin-left: 4px;
  padding: 3px;
  stroke: #666;
  text-align: center;
  width: 24px;
  height: 24px;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.icon-button:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.icon-button:focus {
  outline: none;
}

.border {
  stroke-dasharray: 18 39;
  stroke-dashoffset: -4;
}

.icon-button--reblog:active .border {
  transition: stroke-dashoffset 125ms ease-out;
  stroke-dashoffset: -1;
}

.arrow {
  position: absolute;
}

.icon-button:active .arrow {
  transition: offset-distance 125ms ease-out;
  offset-distance: -5%;
}

.arrow--top {
  offset-path: path("M19 6 Q21 6 21 8 L21 16 Q21 18 19 18 L5 18 Q3 18 3 16 L3 8 Q3 6 5 6 Z");
}

.arrow--bottom {
  offset-path: path("M6 18 Q4 18 4 16 L4 8 Q4 6 6 6 L18 6 Q20 6 20 8 L20 16 Q20 18 18 18 Z");
}

.icon-button--reblog.is-animating .border {
  animation: dash var(--reblog-duration) var(--ease-out-quad);
}

@keyframes dash {
  100% {
    stroke-dashoffset: -61;
  }
}

.icon-button--reblog.is-animating .arrow {
  animation: arrow var(--reblog-duration) var(--ease-out-quad);
}

@keyframes arrow {
  100% {
    offset-distance: 100%;
  }
}

.icon-button--reblog.is-success {
  stroke: #3fc380;
  transition: stroke 250ms var(--ease-out-quad);
}

.icon-button--like.is-animating .heart {
  stroke: red;
  transform: scale(0, 0);
  transform-origin: center;
  animation: 300ms cubic-bezier(0.44, 1.8, 0.71, 0.99) 150ms pop-heart;
}

@keyframes pop-heart {
  100% {
    transform: scale(1, 1);
  }
}

.pop {
  stroke: none;
}

.icon-button--like.is-animating .pop {
  stroke: red;
  stroke-width: 2;
}

.icon-button--like.is-animating .pop--diagonal {
  stroke-dasharray: 10 24;
  stroke-dashoffset: 17;
  animation: pop-diagonal 300ms var(--ease-out-quad);
}

@keyframes pop-diagonal {
  100% {
    stroke-dashoffset: -17;
  }
}

.icon-button--like.is-animating .pop--horizontal {
  stroke-dasharray: 3 21;
  stroke-dashoffset: 12;
  animation: pop-horizontal 300ms var(--ease-out-quad);
}

@keyframes pop-horizontal {
  100% {
    stroke-dashoffset: -12;
  }
}

.icon-button--like.is-success {
  stroke: red;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.loader--bar {
  background-color: #ccc;
  border-radius: 3px;
  margin: 0 4px;
  width: 16px;
  height: 16px;
}

.loader--bar:nth-child(1) {
  animation: fade 600ms ease-in-out infinite alternate;
}

.loader--bar:nth-child(2) {
  animation: fade 600ms ease-in-out 200ms infinite alternate;
}

.loader--bar:nth-child(3) {
  animation: fade 600ms ease-in-out 400ms infinite alternate;
}

@keyframes fade {
  100% { opacity: 0.25; }
}

.is-hidden {
  display: none;
}

