@import "cards/cards.css";
@import "card/card.css";
@import "post-actions/post-actions.css";
@import "post-types/post.css";
@import "post-types/blog-info.css";
@import "post-types/text/text.css";
@import "post-types/photo/photo.css";
@import "post-types/quote/quote.css";
@import "post-types/link/link.css";
@import "post-types/video/video.css";
@import "post-types/audio/audio.css";
@import "post-types/chat/chat.css";
@import "post-types/answer/answer.css";

:root {
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --base-spacing: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #333;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.login {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login__box {
  background-color: #fff;
  border-radius: 4px;
  padding: 32px;
}

.login__link {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: #999;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
  transition:
    color 125ms ease-out,
    background-color 125ms ease-out;
}

.login__link:hover {
  color: #fff;
  background-color: #ccc;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.loader--bar {
  background-color: #ccc;
  border-radius: 3px;
  margin: 0 4px;
  width: 16px;
  height: 16px;
}

.loader--bar:nth-child(1) {
  animation: fade 600ms ease-in-out infinite alternate;
}

.loader--bar:nth-child(2) {
  animation: fade 600ms ease-in-out 200ms infinite alternate;
}

.loader--bar:nth-child(3) {
  animation: fade 600ms ease-in-out 400ms infinite alternate;
}

@keyframes fade {
  100% { opacity: 0.25; }
}

.is-hidden {
  display: none;
}

.back-to-top {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 250ms var(--ease-out-quad);
}

.back-to-top svg {
  fill: #999;
}

.back-to-top:hover svg {
  fill: #666;
}

.back-to-top:focus {
  outline: none;
}

.back-to-top.is-offscreen {
  transform: translateY(40px);
}

.app {
  padding: 16px 0;
}

.banner {
  background-color: #444;
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 1);
  color: #ccc;
  font-weight: 300;
  height: 36px;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
  transition: height 500ms var(--ease-out-quad);
}

.banner.is-closed {
  height: 0;
}
