.answer__question,
.answer__response {
  margin: 16px;
}

.answer__question {
  display: flex;
}

.answer__question-text {
  flex: 1;
  background-color: #f5f5f5;
  border-radius: 4px;
  border-top-right-radius: 0;
  margin-right: 8px;
  padding: 8px;
}

.answer__asking-name {
  font-size: 12px;
  margin-bottom: 8px;
}