.blog-info {
  display: flex;
  align-items: center;
}

.blog-info__avatar {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.blog-info__name:link,
.blog-info__name:visited {
  color: #999;
  flex: 1;
  text-decoration: none;
}
