.quote-post__block {
  position: relative;
  z-index: 0;
  margin: 2rem;
  font-size: 18px;
}

.quote-post__block::before,
.quote-post__block::after {
  color: #eee;
  font-size: 48px;
  position: absolute;
  z-index: -1;
}

.quote-post__block::before {
  content: "\275D";
  top: -20px;
  left: -15px;
}

.quote-post__block::after {
  content: "\275E";
  bottom: -20px;
  right: -15px;
}

.quote-post__footer {
  font-size: 12px;
  margin-top: 1rem;
  text-align: right;
}
